$Light--red: hsl(356, 100%, 66%);  //(CTA text)
$Very--light--red: hsl(355, 100%, 74%); // (CTA hover background)
$Very--dark--blue: hsl(208, 49%, 24%); // (headings)
$White: hsl(0, 0%, 100%); //(text)
$Grayis--blue : hsl(240, 2%, 79% ); //(footer text)
$Very--dark--grayish--blue: hsl(207, 13%, 34%); // (body copy)
$Very--dark--black--blue : hsl(240, 10%, 16%); // (footer background)
$ul__background :#efeff1;